body,
button {
	font-family: 'Inconsolata', sans-serif;
	font-weight: 700;
}

ul {
	list-style-type: none;
}

li {
	font-size: 1.3rem;
}

button:hover {
	background-color: darkgray;
}

#new-input,
button {
	font-size: 1rem;
	width: 7rem;
	height: 3rem;
}

#new-input,
button,
.ready-container,
.done-container {
	border: 0.2rem solid black;
	border-radius: 0.5rem;
}

#title-head,
#input-container {
	width: 75rem;
	height: 8rem;
	margin: 0 auto;
	padding: 1rem 0;
	text-align: center;
}

#title-head h1 {
	margin-top: 0rem;
	margin-bottom: 0;
	font-size: 4rem;
}

#title-head p {
	margin-top: 0rem;
	font-size: 1.25rem;
	font-weight: 400;
}

#new-input {
	width: 40rem;
	height: 2rem;
}

#main-container {
	width: 75rem;
	height: 30rem;
	margin: 0 auto;

}

#main-container h3 {
	width: 32.1rem;
	height: 1rem;
	font-size: 2rem;
	
}

#main-container h3,
#main-container .move-buttons {
	text-align: center;
}

.list {
	width: 32.1rem;
	height: 30rem;
	float: left;
	text-align: left;
}

.move-buttons {
	width: 10rem;
	height: 30rem;
	display: block;
	float: left;
}

.move-buttons button {
	margin-top: 6rem;
}

.ready-container,
.done-container {
	width: 32.1rem;
	height: 25rem;
}